{"version":1,"resource":"vscode-remote://codespaces%2Bominous-fishstick-pj5x79rvrpvp2999v/workspaces/site_lms/.gitignore","entries":[{"id":"H2Xu","source":"textFileCreate.source","timestamp":1763463756644}]}
node_modules
